body{
    background: linear-gradient(to top right, #ffe4ec, #eac7ff, #cdb4ff);  
    min-height: 100vh;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: monospace;
}

#chart {
    height: 500px;
    max-width: 650px;
    width: 90%;
    height: auto;
    position: absolute;
    top: 30%;
    left: 50%;
    transform: translate(-50%, -50%);
  }