html, body {
    padding: 0 60px; /* 좌우 각각 20px 여백 */
    margin: 0; /* 기본 여백 제거 */
    box-sizing: border-box; /* 경계 포함 계산 */
}

.header {
    /* position: fixed; */
    top: 0;
    left: 0; 
    width: 100%;
    height: 10vh;
    background-color: rgba(255, 255, 255); 
    z-index: 10000;
}
.header .logo {
    display: flex; /* Flexbox 컨테이너 지정 */
    flex-direction: row;
    justify-content: center;
    padding: 15px; 
    font-size:25px; 
    color: black; 
    /* text-align: right; */
}

#main_container {
    /* display: flex; */
    top: 10vh;
    max-height: 90vh;
}

#movie_img {
    height: 50vh;
    width: 80%;
    display: block; /* 이미지를 블록 요소로 변경 */
    margin: 0 auto; /* 좌우 여백을 자동으로 설정하여 가운데 정렬 */
    padding: 40px;
}

#movie_video {
    margin: 0 auto;
    height: 30vh;
    
}

#mapholder {
    width: 100%;
    height: 100vh;
}
