* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    height: 100%; /* 페이지 전체 높이를 100%로 설정 */
    overflow-x: hidden; /* 가로 스크롤 방지 */
    overflow-y: scroll; /* 세로 스크롤 활성화 */
}

h1 {
    margin: 0;
}

.page {
    height: 100vh; /* 각 페이지는 화면의 100% 높이를 차지 */
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    flex-direction: column;
    padding: 0;
    transition: transform 1s ease-in-out;
    overflow: hidden; /* 화면을 넘는 부분을 숨기기 */
}

video, audio {
    width: 80%;
    margin: 20px 0;
    max-width: 100%;
}

button {
    padding: 10px 20px;
    background-color: #4CAF50;
    color: white;
    border: none;
    cursor: pointer;
    font-size: 16px;
}

button:hover {
    background-color: #45a049;
}

/* 반응형 디자인 */
@media screen and (max-width: 768px) {
    header {
        font-size: 18px;
    }

    h1 {
        font-size: 24px;
    }

    video, audio {
        width: 100%;
    }

    button {
        padding: 8px 16px;
    }
}

@media screen and (max-width: 480px) {
    header {
        font-size: 16px;
    }

    h1 {
        font-size: 20px;
    }

    button {
        padding: 6px 12px;
        font-size: 14px;
    }
}

#navi-container {
    position: fixed;
    margin: auto;
    top: 10%; /* 상단 여백 */
    left: 8%; /* 우측 여백 */
    text-align: center;
    box-sizing: border-box;
    font-size: 26px;
    z-index: 1000;
}


* {
    box-sizing: border-box;
  }
  
  @import url('https://fonts.googleapis.com/css?family=Fjalla+One');
  @import url('https://fonts.googleapis.com/css?family=Roboto+Slab');
  
   */
  .profile {
    width: 1080px;
    left: 50%;
    float: left;
    position: relative;
    margin: 50px 0px;
    margin-left: -540px;
    cursor: pointer;
  }
  
  .profile .imageHolder {
    float: left;
    width: 30%;
    position: relative;
    left: 5%;
  }
  
  .profile .imageHolder .profilePic {
    width: 100%;
    float: left;
    position: relative;
    -webkit-filter: grayscale(100%);
    filter: grayscale(100%);
    transition: all 0.5s ease;
    -webkit-transition: all 0.5s ease;
    -webkit-box-shadow: 0px 0px 31px -1px rgba(71, 71, 71, 1);
    -moz-box-shadow: 0px 0px 31px -1px rgba(71, 71, 71, 1);
    box-shadow: 0px 0px 31px -1px rgba(71, 71, 71, 1);
  }
  
  .profile .imageHolder:after {
    content: '';
    pointer-events: none;
    background-size: 50%;
    background-repeat: no-repeat;
    background-position: center top;
    width: 100%;
    min-height: 30vh;
    display: block;
    top: 4vw;
    opacity: 0;
    float: left;
    position: absolute;
    z-index: 1000;
    left: 0;
    transition: all 0.5s ease;
    -webkit-transition: all 0.5s ease;
    animation: bounce 0.5s linear infinite;
    animation-play-state: paused;
  }
  
  .profile h1 {
    font-family: 'Fjalla One', sans-serif;
    color: #D10606;
    position: absolute;
    width: 100%;
    padding: 0 0 0 32%;
    margin-top: -50px;
    margin-bottom: 0;
    font-size: 15vw;
    letter-spacing: 1vw;
    z-index: 10000;
    font-weight: 400;
    text-transform: uppercase;
    pointer-events: none;
    transition: all 0.5s ease;
    -webkit-transition: all 0.5s ease;
  }
  
  .profile h1:after {
    content: '';
    float: left;
    position: absolute;
    left: 50%;
    bottom: -10vw;
    width: 5px;
    height: 10vw;
    background-color: #D10606;
  }
  
  .profile:hover h1 {
    transform: translateY(30vw);
  }
  
  .profile:hover .profilePic {
    -webkit-filter: grayscale(0%);
    filter: grayscale(0%);
    transform: scale(1.1);
  }
  
  .profile:hover .imageHolder:after {
    opacity: 1;
    animation-play-state: running;
  }
  
  .profile .infoHolder {
    width: 60%;
    float: right;
    right: 1%;
    position: absolute;
    overflow-x: hidden;
  }
  
  .profile .infoHolder h2 {
    font-family: 'Fjalla One', sans-serif;
    letter-spacing: 3px;
    margin-top: 0;
    float: left;
    width: 100%;
    transform: translateX(102%);
    transition: all 0.5s ease;
    -webkit-transition: all 0.5s ease;
  }
  
  .profile .infoHolder p {
    font-family: 'Roboto Slab', serif;
    float: left;
    margin-top: 0;
    width: 100%;
    transform: translateX(102%);
    transition: all 0.62s ease;
    -webkit-transition: all 0.62s ease;
  }
  
  .profile:hover .infoHolder h2,
  .profile:hover .infoHolder p {
    transform: translateX(0%);
  }
  
  @media screen and (min-width: 1080px) {
    .profile h1 {
      font-size: 120pt !important;
      letter-spacing: 20pt !important;
    }
    
    .profile h1:after {
      bottom: -120px !important;
      height: 120px !important;
    }
    
    .profile:hover h1 {
      transform: translateY(250px);
    }
  }
  
  @media screen and (max-width: 1080px) {
    .profile {
      width: 100%;
      left: 0;
      margin-left: 0;
    }
  }
  
  @keyframes bounce {
    0% {
      transform: translateY(0px);
    }
    50% {
      transform: translateY(5px);
    }
    100% {
      transform: translateY(0px);
    }
  }